/* ---FONTS--- */
@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('../fonts/BigCityGrotesquePro-Regular.eot');
    src: local('BigCity Grotesque Pro Regular'), local('BigCityGrotesquePro-Regular'),
        url('../fonts/BigCityGrotesquePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BigCityGrotesquePro-Regular.woff2') format('woff2'),
        url('../fonts/BigCityGrotesquePro-Regular.woff') format('woff'),
        url('../fonts/BigCityGrotesquePro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('../fonts/BigCityGrotesquePro-Bold.eot');
    src: local('BigCity Grotesque Pro Bold'), local('BigCityGrotesquePro-Bold'),
        url('../fonts/BigCityGrotesquePro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BigCityGrotesquePro-Bold.woff2') format('woff2'),
        url('../fonts/BigCityGrotesquePro-Bold.woff') format('woff'),
        url('../fonts/BigCityGrotesquePro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'BigCity Grotesque Pro';
    src: url('../fonts/BigCityGrotesquePro-Medium.eot');
    src: local('BigCity Grotesque Pro Medium'), local('BigCityGrotesquePro-Medium'),
        url('../fonts/BigCityGrotesquePro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BigCityGrotesquePro-Medium.woff2') format('woff2'),
        url('../fonts/BigCityGrotesquePro-Medium.woff') format('woff'),
        url('../fonts/BigCityGrotesquePro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* ------------------- */

body {
	margin: 0;
	padding: 0;
	font-family: 'BigCity Grotesque Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	background: #CED9E2;
}

.wrap {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	width: 1160px;
	margin: 0 auto;
}
li {
	display: block;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
div,
p,
ul,
li,
span,
button,
input,
a,
form,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.df {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.dif {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.aic {
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.jcsb {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.jcc {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.fww {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.aifs {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.aife {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	   -moz-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.fdc {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.jcfe {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.trans {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.obj-cover img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	   object-fit: cover;
}
.obj-cont img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: contain;
	   object-fit: contain;
}
.asfe {
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
}
iframe {
    max-width: 100%;
}
a {
	color: #212121;
	text-decoration: none;
	-webkit-transition: all 0.3s ease !important;
	-o-transition: all 0.3s ease !important;
	-moz-transition: all 0.3s ease !important;
	transition: all 0.3s ease !important;
}
a:hover {
	text-decoration: underline;
}
.title-l {
	font-weight: 700;
	font-size: 52px;
	line-height: 64px;
	text-transform: uppercase;
	color: #FFFFFF;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
	margin: 0;
}
textarea:active,
textarea:focus {
	outline: none;
}
input[type=text],
input[type=submit],
textarea {
	-webkit-appearance: none;
}
input {
	border: 0;
	outline: none;
}

.btn {
	background: #CE3647;
	padding: 19px 10px 18px;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF;
	display: block;
	outline: none;
	border: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn:hover {
	background: #C83041;
	text-decoration: none;
}
.btn:focus {
	background: #BF2B3C;
}
.center {
	text-align: center;
}
.hidden {
	display: none !important;
}


/* -----ICONS--- */

/* -----------------------------Header---------------------------- */

.header {
	padding: 20px 0 11px;
}
.header__wrap {
	padding: 16px 60px 21px;
	background: #CE3647;
	-webkit-box-shadow: 0px 8px 16px rgba(20, 68, 140, 0.25);
	   -moz-box-shadow: 0px 8px 16px rgba(20, 68, 140, 0.25);
	        box-shadow: 0px 8px 16px rgba(20, 68, 140, 0.25);
}
.header__phone {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-align: right;
	color: #FFFFFF;
	padding-top: 7px;
}
.logo,
.logo img {
	display: block;
}


/* ----------------main------------------ */

.main {
	padding: 11px 0 15px;
}
.main__wrap {
	position: relative;
	background: #CE3647;
	color: #fff;
	padding: 123px 61px;
	overflow: hidden;
}
.main__wrap .title-l {
	max-width: 688px;
	margin-bottom: 28px;
	position: relative;
	z-index: 2;
}
.main__wrap p {
	font-size: 30px;
	line-height: 29px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	letter-spacing: 0.02em;
}
.main__wrap::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 480px;
	width: 680px;
	height: 431px;
	background: url('../img/main-bg.png') no-repeat 0 0 / cover;
	z-index: 1;
}


/* -------------------calculate----------------- */

.calculate {
	padding: 15px 0 40px;
}
.calc__slide {
	display: block;
	color: #395B87;
}
.calc__slide:hover,
.calc__slide.active {
	text-decoration: none;
	color: #fff;
}
.gk__img {
	display: block;
	width: 100%;
	height: 177px;
}
.gk__img img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.gk__info {
	background: #fff;
	display: block;
	padding: 10px 10px 10px 19px;
	border-bottom: 1px solid #EEEEEE;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.calc__slide:hover .gk__info,
.calc__slide.active .gk__info {
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
	background: #395B87;
}
.gk__name {
	font-size: 18px;
	line-height: 23px;
	font-weight: 500;
}
.gk__label {
	padding: 4px 3px 3px;
	width: 63px;
	text-align: center;
	display: block;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
}
.gk__business {
	background: #8BCB59;
}
.gk__komfort {
	background: #5980CB;
}
.gk__premium {
	background: #D5B053;
}
.gk__top {
	margin-bottom: 10.5px;
}
.gk__place {
	font-size: 12px;
	line-height: 16px;
}
.gk__place span {
	display: block;
	margin-bottom: 5px;
}
.gk__place ul li {
	font-weight: 500;
	position: relative;
	padding-left: 15px;
}
.gk__place ul li::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 6px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background: #395B87;
	width:4px;
	height: 4px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.gk__place ul li:not(:last-child) {
	margin-bottom: 3px;
}
.calc__slide:hover .gk__place ul li::before,
.calc__slide.active .gk__place ul li::before {
	background: #fff;
}
.gk__flats {
	padding: 10px 10px 11px 19px;
	background: #fff;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
}
.calc__slide:hover .gk__flats,
.calc__slide.active .gk__flats {
	background: #395B87;
}
.gk__bottomlabel {
	display: block;
	padding: 9px 8px 8px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
	color: #fff;
}
.gk__bottomlabel-blue {
	background: #88B4D7;
}
.gk__bottomlabel-green {
	background: #4EC9AB;
}
.gk__bottomlabel-red {
	background: #CE3647;
}
.gk__bottomlabel-black {
	background: #363636;
}
.swiper-button {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background: #CE3647;
}
.swiper-button-prev {
	left: -50px;
}
.swiper-button-next {
	right: -50px;
}
.swiper-button::after {
	display: none;
}
.posr {
	position: relative;
}
.calc__sliderwrap {
	margin-bottom: 25px;
}
.calc__wrap {
	margin: -19px -12px 23px;
}
.calc__item {
	padding: 19px 12px;
	width: 50%;
}
.calc__item:first-child {
	width: 100%;
}
.calc__item-top,
.questions__input-name {
	font-size: 16px;
	line-height: 21px;
	color: #395B87;
	margin-bottom: 8px;
}
.all-input {
	display: block;
	width: 100%;
	padding: 22px 40px 15px 20px;
	font-family: 'BigCity Grotesque Pro';
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	color: #000000;
}
.calc__input-lab {
	position: absolute;
	top: 0;
	right: 20px;
	bottom: 0;
	margin: auto 0;
	font-size: 18px;
	line-height: 23px;
	color: #9D9D9D;
}
.range {
	position: absolute;
	right: 20px;
	bottom: 0;
	left: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	height: 3px;
}
.range::-webkit-slider-runnable-track {
	height: 3px;
	background-color: transparent;
}
.range::-webkit-slider-thumb {
	cursor: pointer;
	width: 25px;
	height: 25px;
	background: #FFFFFF;
	border: 5px solid #395B87;
	-webkit-appearance: none;
	-webkit-border-radius:50%;
	        border-radius:50%;
	margin-top: -12px;
}
.range::-moz-range-track {
	height: 3px;
	background-color: transparent;
}
.range::-moz-range-thumb {
	cursor: pointer;
	width: 25px;
	height: 25px;
	background: #FFFFFF;
	border: 5px solid #395B87;
	-moz-border-radius:50%;
	     border-radius:50%;
	padding: 0px;
	margin: 0px;
}
.calc__checkbox input {
	display: none;
}
.calc__checkbox label {
	font-size: 16px;
	line-height: 21px;
	display: inline-block;
	position: relative;
	color: #395B87;
	padding-left: 46px;
	cursor: pointer;
}
.calc__checkbox label::before,
.calc__checkbox label::after {
	content: '';
	display: block;
	width: 26px;
	height: 26px;
	position: absolute;
	top: -3px;
	left: 0;
}
.calc__checkbox label::before {
	background: #FFFFFF;
}
.calc__checkbox label::after {
	display: none;
	background: url('../img/ok.png') no-repeat 0 0 / cover;
}
.calc__checkbox input:checked ~ label::after {
	display: block;
}
.calc__help::before {
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	top: -4px;
	width: 5px;
	height: 5px;
	background: #395B87;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.offer__slide {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
.offer__slide.active .offer__slide-preview {
	background: #395B87;
	color: #fff;
}
.offer__slide.active .offer__more,
.offer__slide.active .offer__monthly span {
	color: #fff;
}
.offer__slide-other {
	/* display: none; */
	pointer-events: none;
	width: 76.5%;
	left: -888px;
	top: 0;
	bottom: 0;
	background: #E3EDF5;
	padding: 15px 38px;
	position: absolute;
    z-index: 1;
	opacity: 0;
	-webkit-transition: left 0.3s ease, opacity 0.6s ease-in-out;
	-o-transition: left 0.3s ease, opacity 0.6s ease-in-out;
	-moz-transition: left 0.3s ease, opacity 0.6s ease-in-out;
	transition: left 0.3s ease, opacity 0.6s ease-in-out;
}
.offer__slide-other.show {
	opacity: 1;
	left: 273px;
}
.offer__slide-preview {
	padding: 16px 15px 20px;
	background: #fff;
	max-width: 272px;
	position: relative;
    z-index: 2;
}
.swiper-slide-visible .offer__slide-preview {
	-webkit-box-shadow: 0px 4px 22px rgba(20, 68, 140, 0.25);
	   -moz-box-shadow: 0px 4px 22px rgba(20, 68, 140, 0.25);
	        box-shadow: 0px 4px 22px rgba(20, 68, 140, 0.25);
}
.offer__sliderwrap {
	margin: -22px;
}
.offer__sliderwrap .calc__offer {
	padding: 22px;
}
.offer__proc {
	font-size: 16px;
	line-height: 21px;
	font-weight: 500;
	padding-bottom: 10px;
	margin-bottom: 17.5px;
	border-bottom: 1px solid #EAEAEA;
}
.offer__monthly {
	font-weight: 500;
	margin-bottom: 1px;
}
.offer__monthly span {
	display: inline-block;
	margin-right: 4px;
	font-size: 25px;
	line-height: 23px;
	text-transform: uppercase;
	color: #CE3647;
}
.offer__price {
	font-weight: 500;
	margin-bottom: 9px;
}
.offer__bank-logo {
	width: 30.5px;
	height: 30.5px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	overflow: hidden;
	margin-right: 14.5px;
}
.offer__bank-name {
	line-height: 23px;
	font-weight: 500;
}
.offer__bank {
	margin-bottom: 20px;
}
.offer__slide-preview p {
	margin-bottom: 19px;
}
.offer__more {
	font-size: 16px;
	line-height: 21px;
	color: #395B87;
	font-weight: 500;
}
.offer__col-name {
	width: 18%;
}
.offer__col-bet,
.offer__col-term {
	width: 7.5%;
}
.offer__col-first {
	width: 11.5%;
}
.offer__col-month {
	width: 9.5%;
}
.offer__table-item:not(:last-child) {
	margin-bottom: 31px;
}
.offer__table-title {
	font-weight: 500;
}
.offer__more svg {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.offer__more.less svg {
	-webkit-transform: rotateZ(180deg);
	   -moz-transform: rotateZ(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotateZ(180deg);
	        transform: rotateZ(180deg);
}
.offer__prev {
	left: -30px;
}
.offer__next {
	right: -30px;
}
.offer__col-mob {
	display: none;
}
/* ---------questions-------- */

.questions {
	padding: 44px 0 11px;
}
.questions__text {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	letter-spacing: -0.04em;
	margin-bottom: 13px;
	color: rgba(0, 0, 0, 0.67);
}
.questions__input-wrap {
	width: 68.5%;
}
.questions__input-name {
	display: block;
}
.questions__wrap .btn {
	width: 29.5%;
}
.questions__form {
	margin-bottom: 9px;
}
.questions__ok {
	padding: 8px 30px 9px;
	background: #8BCB59;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}
.questions__ok-wrap	{
	height: 60px;
}

/* ------------footer------------- */

.footer__wrap {
	padding: 21px 60px 25px;
	background: #CE3647;
	color: #fff;
}
.footer__logo .logo {
	margin-bottom: 19px;
}
.footer__logo p {
	font-size: 12px;
	line-height: 16px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__logo p span {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 18px;
	display: inline-block;
	margin-right: 3px;
}
.footer__menu {
	max-width: 200px;
	margin-right: auto;
	margin-left: 97px;
}
.footer__menu a {
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	display: inline-block;
}

.footer__menu li:not(:last-child) {
	margin-bottom: 13px;
}